.App {
  text-align: center;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#main{
  padding: 0px;
  box-sizing: border-box;
  width: auto;
  height: 100%;
}

h1 {
  color: burlywood;
}
h2 {
  color: brown;
}
h3{
  color: grey;
}


#book-details{
  width: 40%;
  height: auto;
  background:blanchedalmond;
  overflow: auto;
  box-shadow: -2px -3px 5px rgba(0,0,0,0.3);
  box-sizing: border-box;
  color: darkred;
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #880E4F;
}

#book-list{
  padding: 0;
  list-style: none;
}

#book-list li{
  display: inline-block;
  margin: 12px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #880E4F;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
  cursor: pointer;
  color: #880E4F;
  list-style: none;
}
li {
  list-style: none;
}

.btn-primary {
  background-color: grey !important;
}
.btn-secondary {
  background-color: lightseagreen;
}

.btn-primary:hover {
  background-color: lightgrey;
  opacity: 0.9;
}

.btn-secondary:hover {
  background-color: lightskyblue;
  opacity: 0.9;
}

.icon {
  margin-right: 5px;
}


form{
  background: #fff;
  padding: 5px;
  left: 0;
  bottom: 0;
  width: 50%;
  height: auto;
}

form .field{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

form label{
  text-align: right;
  padding: 6px;
}

form input, form select{
  margin: 4px 0;
  padding: 6px;
  box-sizing: border-box;
}

form button{
  color: #fff;
  font-size: 2em;
  background: #AD1457;
  padding: 0 10px;
  border-radius: 50%;
  cursor: pointer;
}

